.pic-r{
    position: relative;
}
.pic-r > img {
    width:200px;
    left: 355px;
    padding:5px;
    position: absolute;
    border:3px solid var(--default-color);
    box-shadow: 3px 3px 0 var(--accent-color);
}
.pic-l{
    position: relative;
}
.pic-l > img {
    width:200px;
    right: 355px;
    padding:5px;
    position: absolute;
    border:3px solid var(--default-color);
    box-shadow: 3px 3px 0 var(--accent-color);
}
.link-to{
    padding: 5px;
    margin-top:5px;
}
.link-to:hover{
    text-shadow: 3px 3px 0 var(--accent-color), -3px -3px 0 var(--accent-color2);
    transition: 0.3s;
}
h2 > .h2-icon{
    font-size: 15pt;
}
.content-body-me{
    min-height:170px;
}

@media only screen and (max-width: 850px) {
    .content-header.content-header-me,
    .content-body.content-body-me{
        margin-left: 200px;
    }
    .pic-r > img {
        right: 355px;
        left: unset;
    }
}

@media only screen and (max-width: 650px) {
    .pic-r, .pic-l {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .pic-r > img, .pic-l > img {
        width: 330px;
        position: static;
        right: unset;
        left: unset;
        display: flex;
        
    }
    .content-header.content-header-me,
    .content-body.content-body-me{
        margin-left: 0px;
    }
}