.pic-r, .pic-l{
    position: relative;
}
.pic-r > img, .pic-l > img {
    width:200px;
    padding:5px;
    position: absolute;
    border:3px solid var(--default-color);
}
.pic-r > img {
    left: 355px;
}
.pic-l > img {
    right: 355px;
}

h2 > .h2-icon{
    font-size: 15pt;
}
.content-body-me{
    min-height:180px;
    text-align: justify;
}

@media only screen and (max-width: 850px) {
    .content-header.content-header-me,
    .content-body.content-body-me{
        margin-left: 200px;
    }
    .pic-r > img {
        right: 355px;
        left: unset;
    }
    .content-body.content-body-me{
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .pic-r, .pic-l {
        margin-bottom: 10px;
        display:flex;
        justify-content: center;
    }
    .pic-r > img, .pic-l > img {
        width: 200px;
        position: static;
        right: unset;
        left: unset;
        display: flex;
    }
    .content-header.content-header-me,
    .content-body.content-body-me{
        margin-left: 0px;
        padding: 10px 10px 20px 10px;
        width:initial;
    }
}