.project-container{
    display: flex;
    width:100%;
    max-width: 600px;
    padding:10px;
    border-top:2px solid var(--default-color);
    margin-bottom: 10px;
}
.project-container:last-child{
    margin-bottom: 100px;
}
div.project-image{
    min-width:150px; 
    width:150px; 
    height:150px; 
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 0.3s;
    margin-right:15px;
}
div.project-image > img{
    height: 150px;
}
div.project-image > img.defaultAvatar{
    filter: invert(0.5);
}
div.project-container > div.project-details > p.project-description{
    min-height:50px;
}
div.project-container > div.project-details{
    display: flex;
    flex-direction: column;
    width:100%;
}
.project-tag-container{
    align-self: flex-end;
    height:21px;
}
.project-tag-container > span {
    font-size: 12px;
    border-radius: 8px;
    background-color: var(--default-color);
    color: var(--bg-color);
    padding:1px 5px 1px 5px;
    margin-right: 10px;
    opacity: .7;
}

.time-project{
    position: relative;
}
.time-project > span {
    width:100px;
    position: absolute;
    left: -110px;
    border-top: 2px solid var(--default-color);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

div.project-details > a.project-button{
    margin: 5px 10px 5px 0px;
    align-self: flex-end;
}

div.coding-sort{
    width:100%;
    max-width: 600px;
    margin-bottom: 10px;
    z-index: 200;
    color:var(--bg-color);
}
div.coding-sort div{
    color: rgb(60,60,60);
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .time-project{
        position: static;
        align-self: flex-start;
    }
    .time-project > span {
        position: static;
        display:block;
        border:initial;
    }
    .project-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 450px) {
    div.content-header.coding-header{
        width:100%
    }
    div.project-container{
        display:block;
        width: 100%;
    }
    div.project-image{
        width:100%;
        display: flex;
        align-content: center;
        margin-bottom: 10px;
    }
    div.project-container > div.project-details{
        width: 100%;
    }
}