div.menu-item {
    padding: 5px 5px 5px 5px;
    border-bottom: 3px solid rgba(255,255,255,0);
    transition: 0.3s;
}

div.menu-item:before {
    content: "-";
    padding-right: 10px;
}

div.menu-item:hover, div.menu-item:active {
    outline: 0;
    text-shadow: 5px 5px 0 var(--accent-color), -5px -5px 0 var(--accent-color2);
    box-shadow: 3px 3px 0 var(--accent-color), -3px -3px 0 var(--accent-color2);
    transition: 0.3s;
}
.link {
    position: relative;
}
.link > img {
    cursor: pointer;
    height:100px;
    position: absolute;
    top:-80px;
    left:130px;
    transform: rotate(15deg);
    z-index: 10;
    filter:none;
}
.link > img:hover{
	filter:drop-shadow(3px 3px 0 var(--accent-color)) drop-shadow(-3px -3px 0 var(--accent-color2));;
}

@media only screen and (max-width: 500px) {
    .link > img{
        display:none;
    }
}