div.content-body.menu > a > div {
    padding: 5px 5px 5px 10px;
    border-left: 7px solid var(--accent-color2);
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7
}
div.content-body.menu > a > div:hover, div.content-body.menu > a > div:active {
    border-left: 1px solid var(--accent-color2);
    opacity: 1;
}

.link {
    position: relative;
}
.link > img {
    cursor: pointer;
    height:100px;
    position: absolute;
    top:-80px;
    left:130px;
    transform: rotate(15deg);
    z-index: 10;
    filter:none;
    transition: .3s;
}
.link > img:hover{
	filter:drop-shadow(4px 4px 0 var(--accent-color)) drop-shadow(-4px -4px 0 var(--accent-color2));;
}

@media only screen and (max-width: 650px) {
    .link > img{
        top:265px;
        left:-175px;
        transform: rotate(190deg);
    }
}