div.content-header.coding-header{
    width:480px
}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width:100%;
    max-width: 500px;
    padding:10px;
    border:3px solid var(--default-color);
    box-shadow: 3px 3px 0 var(--accent-color);
    margin-bottom: 10px;
    transition: 0.3s;
}
.project-container:last-child{
    margin-bottom: 100px;
}
div.project-image{
    width:150px; 
    height:150px; 
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 0.3s;
    filter:drop-shadow(4px 4px 0 var(--accent-color));
    margin-right:15px;
}
div.project-image:hover{
    filter:drop-shadow(-4px -4px 0 var(--accent-color2));
}
div.project-image > img{
    height: 150px;
    filter:none;
}
div.project-container > div.project-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 350px;
    height:150px;
}
.tag-container{
    align-self: flex-end;
}
.tag-container > span {
    font-size: 12px;
    border-radius: 8px;
    background-color: var(--default-color);
    color: var(--bg-color);
    padding:1px 5px 1px 5px;
    margin-right: 10px;
    opacity: .5;
}

.time-project{
    position: relative;
}
.time-project > span {
    width:100px;
    position: absolute;
    left: -110px;
    top: 3px;
    box-shadow: 3px -3px 0 var(--default-color);
    text-shadow: 3px 3px 0 var(--accent-color);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

div.project-details > a.project-button{
    background-color: var(--default-color);
    color: var(--bg-color);
    padding: 5px 12px 5px 12px;
    border-radius: 7px;
    margin: 5px 10px 5px 0px;
    align-self: flex-end;
    transition: .3s;
}
div.project-details > a.project-button:hover{
    filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}

p.project-description{
    overflow: hidden;
    height:400px;
    width:100%;
}

@media only screen and (max-width: 800px) {
    .time-project{
        position: static;
        align-self: flex-start;
    }
    .time-project > span {
        position: static;
        box-shadow: 0px 0px 0 ;
        text-shadow: 0px 0px 0 ;
    }
    .time-project > span {
        display:block;
    }
}
@media only screen and (max-width: 550px) {
    div.content-header.coding-header{
        width:300px
    }
    div.project-container{
        display:block;
        width: 320px;
    }
    div.project-image{
        width:100%;
        display: flex;
        align-content: center;
        margin-bottom: 10px;
    }
    div.project-container > div.project-details{
        width: 100%;
        height:150px;
    }
}