.content-header.cv-mobile-header{
    display:none;
}
.cv-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.cv-row:first-child{
    margin-top: 100px;
}
.cv-row:last-child{
    margin-bottom: 100px;
}
.cv-row > div.content-body, .cv-row > div.content-header{
    margin-right:10px;
}
.empty-cv-card{
    width:360px;
}
.time-career{
    position: relative;
}
.time-career > span {
    width:100px;
    position: absolute;
    right: 13px;
    top: 3px;
    box-shadow: 3px -3px 0 var(--default-color);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.time-education{
    position: relative;
}
.time-education > span {
    width:100px;
    position: absolute;
    left: 359px;
    top: 3px;
    box-shadow: -3px -3px 0 var(--default-color);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.teacher{
    position: relative;
}
.teacher > img {
    position: absolute;
    top: -70px;
    right: -30px;
    width: 100px;
    transform: rotate(20deg);
    z-index: 10;
}


@media only screen and (max-width: 950px) {
    .cv-row:first-child{
        margin-top: 10px;
    }
    .content-header.cv-desktop-header{
        display:none;
    }
    .content-header.cv-mobile-header{
        display:block;
        z-index: 100;
    }
    .teacher > img{
        top: -170px;
    }
    .cv-row{
        display: block;
        z-index: 100;
    }
    .time-education > span, .time-career > span {
        width:100px;
        position: absolute;
        left: -109px;
        top: 3px;
        box-shadow: 3px -3px 0 var(--default-color);
        text-shadow: 3px 3px 0 var(--accent-color);
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .teacher > img{
        display:none;
    }
}


@media only screen and (max-width: 650px) {
    
    .time-education > span, .time-career > span {
        width: unset;
        position: static;
        display: block;
        box-shadow: 0px 0px 0 ;
        text-shadow: 0px 0px 0 ;
    }
}