:root {
	--bg-color: rgba(46,46,46,255);
	--default-color: rgba(230,230,230,255);
	--accent-color: rgba(50,200,150,.3);
	--accent-color2: rgba(200, 50, 50, 0.3);
}
html, body, #root {
	height:100%;
}

body {
	background-color: var(--bg-color);
	color: var(--default-color);
	font-family: monospace;
	font-size: 12pt;
}

a, a:visited, a:active {
	color: var(--default-color);
	text-decoration: none;
}
h1, h2{
	filter:drop-shadow(3px 3px 0 var(--accent-color));
	transition: 0.3s;
}
h2{
    margin:0px;
}
h1:hover, h2:hover{
	text-shadow: -3px -3px 0 var(--accent-color2);
	filter:drop-shadow(-3px -3px 0 var(--accent-color2));
}
img{
	filter:drop-shadow(3px 3px 0 var(--accent-color));
	transition: 0.3s;
}
img:hover{
	filter:drop-shadow(-3px -3px 0 var(--accent-color2));
}

/* Mein Wrapper */
.body-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	height:100%;
	width:100%;
}
/* Content Wrapper */
.content-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height:100%;
	width:100%;
}

/* Content boxes */
.content-header, .content-body{
	width:300px;
	margin-bottom:10px;
	border:3px solid var(--default-color);
	box-shadow: 3px 3px 0 var(--accent-color);
	z-index: 100;
	background-color: var(--bg-color);
}
.content-header{
	padding:0px 20px 0px 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.content-body{
	padding: 20px 20px 20px 20px;
}
.back{
	position: absolute;
	top:20px;
	right:50px;
	font-size: 30pt;
	color:var(--default-color);
	transition:.3s;
}
.back:hover{
	filter:drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}

div.icon-container{
	width:10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1000;
	margin:20px 0px 20px 0px;
}
div.icon-container > a:first-child{
	margin-left: 0px;
}
div.icon-container > a{
	font-size: 30pt;
	margin-left: 20px;
	transition:.3s;
}

div.icon-container > a:hover{
	filter:drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}


@media only screen and (max-width: 550px) {
    .back{
		right:20px;
	}
}