:root {
	--bg-color: rgba(46,46,46,1);
	--default-color: rgba(230,230,230,1);
	--accent-color: rgba(50,200,150,0.3);
	--accent-color2: rgba(200, 50, 50, 0.3);
	/* Articles */
	--article-width:80%;
}
html, body, #root {
	height:100%;
}

body {
	background-color: var(--bg-color);
	color: var(--default-color);
	font-family: monospace;
	font-size: 12pt;
}

a, a:visited, a:active {
	color: var(--default-color);
	text-decoration: none;
}
h1, h2{
	transition: 0.3s;
}
h2{
    margin:0px;
}
p{
	margin:5px 0px 0px 0px;
	font-size: 11pt;
}

/* Mein Wrapper */
.body-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	height:100%;
	width:100%;
}
/* Content Wrapper */
.content-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height:100%;
	width:100%;
}

/* Content boxes */
.content-header, .content-body{
	width:300px;
	margin-bottom:10px;
	border:3px solid var(--default-color);
	box-shadow: 3px 3px 0 var(--accent-color);
	z-index: 100;
	background-color: var(--bg-color);
}
.content-header{
	padding:0px 20px 0px 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.content-body{
	padding: 15px 20px 15px 20px;
}

div.icon-container{
	width:0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin:20px 0px 20px 0px;
}
div.icon-container > a:first-child{
	margin-left: 0px;
}
div.icon-container > a:nth-child(2){
	margin-left: 0px;
}
div.icon-container > a{
	font-size: 30pt;
	margin-left: 20px;
	transition:.3s;
}
div.icon-container > a:hover{
	filter:drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}

.back{
	position: absolute;
	top:20px;
	left:50px;
	color:var(--default-color);
	transition:.3s;
	font-size: 30pt;
	cursor: pointer;
}
.back:hover{
	filter:drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}

a.button{
	background-color: var(--default-color);
	color: var(--bg-color);
	padding: 5px 12px 5px 12px;
	border-radius: 7px;
	transition: .3s;
}
a.button:hover{
	filter: drop-shadow(5px 5px 0 var(--accent-color)) drop-shadow(-5px -5px 0 var(--accent-color2));
}


@media only screen and (max-width: 650px) {
	.back{
		position: static;
	}
	div.icon-container > a:nth-child(2){
		margin-left: 20px;
	}
}